<div class="social-links">
  <a href="https://scholar.google.com/citations?user=Fj1pkq0AAAAJ&hl=en" target="_blank" title="Google Scholar">
    <img src="/assets/Academicons-Team-Academicons-Google-scholar.24.png" alt="Google Scholar" />
  </a>
  <a href="https://github.com/whuangbinfo" target="_blank" title="GitHub">
    <img src="/assets/Pictogrammers-Material-Github.24.png" alt="GitHub" />
  </a>
  <a href="https://www.linkedin.com/in/winston-huang-yh/" target="_blank" title="LinkedIn">
    <img src="/assets/Uiconstock-Socialmedia-Linkedin.24.png" alt="LinkedIn" />
  </a>
</div>